<h2 class="heading">Supplement Calculation</h2>

  <p>When you're taking certain supplements usually you need to figure out how much is each manufacturer offering. Since many of them are selling same supplements with different amount of units (pills, capsules or tea spoons of powder) you need to calculate how much are they really giving you. For example, one manufacturer will sell a package of 100 capsules which you should take 3 times a day and the other manufacturer will sell you 120 capsules which you should take 4 times a day. Now, with simple math you can pretty easily determine that the first one offers a little more but when you add a price in cents then the choice is not so obvious anymore. And when you want to compare more than two suppliers then you realize that you really need all this written down. <p>With this calculator you can find out how much will you spend in certain period of time (a week, a month or whatever) and also store your supplements with the calculation. That way you can keep track on what you used and how much did it cost and then you can compare and decide what will you buy based on facts.</p>

<div class="create-helper">
  <%= create_helper %>
</div>
