<h1>Supplement Calculator</h1>
<h3>Find out how much you are spending on your supplements</h3>
<p>Take a look at how to use this calculator <%= link_to "here!", pages_about_path %></p>

<div>
  <%= create_helper %>
</div>
