<h1 class="heading">Supplement Calculator</h1>
<h3 class="heading">Find out how much you are spending on your supplements</h3>
<h5 class="heading">Take a look at how to use this calculator <%= link_to "here!", pages_about_path %></h5>

<div class="create-helper">
  <%= create_helper %>
</div>
