/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body {
  background-image: url(/assets/4.jpg);
  background-size: 100%;
  color: #273259;
}

nav.navbar {
  background-color: #273259
}

.navbar-dark .navbar-nav .nav-link,
.navbar-nav a {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-nav a:hover {
  color: #f2f1cb;
  text-decoration: none;
}

.navbar-custom .nav-item:hover .nav-link {
  color: #f2f1cb;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.heading a {
  text-decoration: none;
}

p {
  text-align: center;
  text-align: justify;
}

.create-helper {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.create-helper a {
  text-decoration: none;
  font-size: 1.3em;
}

.form {
  max-width: 500px;
  text-align: left;
}

.form-group {
  max-width: 400px;
}

.table {
  margin: 0 auto;
}

.del-edit {
  text-align: center;
  margin-top: 7px;
}

.del-edit a {
  text-decoration: none;
}

.active a {
  color: #f2f1cb;
}
