@import "bootstrap";

body {
  background-image: asset-url('4.jpg');
  background-size: 100%;
  color: #273259;
}

nav.navbar {
  background-color: #273259
}

.navbar-dark .navbar-nav .nav-link,
.navbar-nav a {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-nav a:hover {
  color: #f2f1cb;
  text-decoration: none;
}

.navbar-custom .nav-item:hover .nav-link {
  color: #f2f1cb;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.heading a {
  text-decoration: none;
}

p {
  text-align: center;
  text-align: justify;
  text-indent: 50px;
}

.create-helper {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.create-helper a {
  text-decoration: none;
  font-size: 1.3em;
}

.form {
  max-width: 500px;
  text-align: left;
}

.form-group {
  max-width: 400px;
}

.table {
  margin: 0 auto;
}

.del-edit {
  text-align: center;
  margin-top: 7px;
}

.del-edit a {
  text-decoration: none;
}

.active a {
  color: #f2f1cb;
}

#error_explanation h2 {
  color:  #cc0000;
  font-size: 1.5em;
}
