<h1>This is the view coming from Suplements controller index method</h1>

<body>

  <%= @suplement.each do |suplement| %>

  <% end %>
  <br>
  <a href="/suplements/:id">Show</a>
  <%= link_to 'Create new item', new_suplement_url %>


</body>
