<h1>Create new suplement</h1>

<%= form_for(@suplement) do |f| %>

  <%= render 'form', suplement: @suplement %>

  <input type="submit" name="commit" value="Create Suplement" data-disable-with="Create Suplement">

<% end %>
