<h1><%= @suplement.name %> show page</h1>

<%= render 'table', suplement: @suplement %>

  <%= link_to "Edit item", edit_suplement_path(@suplement.id) %>
  <%= link_to 'Delete item', suplement_path(@suplement), method: :delete, data: { confirm: 'Are you sure?' } %>


